<div class='assignment'>
  <div class='row'>
    <div class='col-xs-12 col-sm-7'><h4><%= link_to assignment.title.titleize, assignment_path(assignment) %></h4></div>
    <div class='col-xs-8  col-sm-3'><h5><%= react_time(assignment.due_date) %></h5></div>
    <div class='grade col-xs-2'><%= status_for(assignment, current_user.student) %></div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <ul class='submissions'>
      <% submissions.each do |submission| %>
        <li>
          <div class='submission'>
            <div class='row'>
              <div class='col-sm-10'>
                Submitted <%= react_time submission.created_at %> <%= link_to "View Submission #{' And Feedback' if has_feedback?(submission)}", submission %>
              </div>
            </div>
          </div>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
