<div class='row'>
  <div class='col-md-12'>
    <h2><%= @cohort.name %><br/><small><%= @cohort.campus %></small></h2>
    <h4>On Day <%= @cohort.days.count + 1 %></h4>
  </div>
</div>
<div class='row'>
  <div class='visible-xs visible-sm col-sm-12'>
    <%= link_to 'SUBMIT HOMEWORK', new_submission_path,  class:'full-width btn btn-primary btn-md'%>
    <%= link_to 'CURRENT ASSIGNMENT', current_assignments_path,  class:'full-width btn btn-default btn-md'%>
  </div>
  <div class='hidden-xs hidden-sm col-sm-12'>
    <%= link_to 'SUBMIT HOMEWORK', new_submission_path,  class:'btn btn-primary btn-md'%>
    <%= link_to 'CURRENT ASSIGNMENT', current_assignments_path,  class:'btn btn-default btn-md'%>
  </div>
</div>
<div class='row'>
  <div class='col-md-3'>
  </div>
</div>
<div class='row'>
  <div class='col-md-push-8 col-md-4'>
    <div class='row'>
      <%= render partial: 'attendance', locals: { cohort: cohort, current_student: current_user.student } %>
    </div>
    <div class='row'>
      <%= render partial: 'adjustments', locals: { current_student: current_user.student } %>
    </div>
    <div class='row'>
      <%= render partial: 'students', locals: { students: students }  %>
    </div>
  </div>
  <div class='col-md-pull-4 col-md-8'>
    <div class='row'>
      <%= render partial: 'assignments', locals: { weekly_assignments: assignments, weekly_assignments_count: assignments.count } %>
    </div>
  </div>
</div>
