<div class='col-md-10 col-md-offset-1
            col-lg-8  col-lg-offset-2'>
  <%= render partial: 'cohorts/nav' %>
  <article>
    <header>
      <div class='row'>
        <div class='visible-xs-inline col-xs-12'>
          <h3><%= assignment.title %><div style='float: right'><strong>Due: </strong> <%= react_time(assignment.due_date) %></div></h3>
        </div>
        <div class='hidden-xs col-sm-8'>
          <h3><%= assignment.title %></h3>
        </div>
        <div class='hidden-xs col-sm-4'>
          <h3><strong>Due: </strong> <%= react_time(assignment.due_date) %></h3>
        </div>
      </div>
    </header>

    <%= markdown assignment.info %>

    <footer>
      <div class='row'>
        <div class='actions'>
          <div class='col-sm-12'>
            <%= link_to 'SUBMIT HOMEWORK', new_submission_path(assignment: assignment.id),  class:'btn btn-default' %>
          </div>
        </div>
      </div>
    </footer>
  </article>
</div>
