<div class='col-sm-4 col-sm-offset-4'>
  <% if @cohort %>
    <h2>Sign up for <%= @cohort.name.titleize %> <small><%= @cohort.campus.name %></small></h2>
  <% else %>
    <h2>Sign up</h2>
  <% end %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, cohort_id: (@cohort.present? ? @cohort.id : nil))) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,    required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
