= link_to 'Back', url_for(:back), class: 'btn btn-primary'
h1
  = student.name
p.muted
  | Contact Info
section
  = simple_form_for(student) do |f|
    .form-inputs
      = f.input :name
      = f.input :github, hint: 'Not the full url just your profile name'
      = f.input :phone
      = f.input :twitter, hint: 'Not the full url just your profile name'
      = f.input :blog, as: :url
      = f.input :bio, as: :text
    .form-actions
      = f.button :submit
  ul
