<section>
  <header>
    <h3><%= t('.adjustments') %></h3>
  </header>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>State</th><th>Checkin</th><th>Student</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% adjustments.each do |adjustment| %>
        <%= react_component('AdjustmentReview', { adjustment: adjustment,
                                                  student_name: adjustment.checkin.student.decorate.pretty_name,
                                                  checkin_status: adjustment.checkin.short_checkin_status},
                            tag: :tr ) %>
      <% end %>
    </tbody>
  </table>
 </section>
