<div class='row'>
  <div class='col-md-offset-3 col-md-6'>
    <%= simple_form_for(badge, url: staff_badges_path, method: :post) do |f| %>
      <div class='form-inputs'>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.attachment_field :icon_image, direct: true, presigned: true %>
      </div>
      <div class='form-actions'>
        <%= f.button :submit, 'Create Badge', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
