// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$section-border: #c3c3c3;
$muted-color: #acacac;

section {
  border-radius: 3px;
  width: 100%;
}

.filters {
  margin: 8px 0;
}

.muted {
  color: $muted-color;
  font-variant: small-caps;
  margin: 0;
  position: relative;
  text-transform: lowercase;
  top: 2px;
}

.full-width {
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
}

.errors {
  color: #ff0000;
}

.stats {
  margin: 10px 0;

  .tardies {
    padding-right: 4px;
  }
}


.autocomplete-form {
  display: inline-block;
  position: absolute;
  width: 150px;
  margin: 10px 0;
}
.autocomplete-input {
  height: 33px;
  width: 130px;
  margin-left: 4px;
}

.results {
  background: #fff;
  border-top: 0;
  display: inline-block;
  left: 4px;
  min-width: 150px;
  position: absolute;
  top: 33px;
  z-index: 100000000;
}

$auto-yellow: #d1c05e;
$active-yellow: lighten($auto-yellow, 10%);
$highlight-yellow: lighten($auto-yellow, 30%);

.autocomplete {

  text-decoration: none;

  &.active p {
    background: $active-yellow;
  }

  p {
    border-bottom: 1px solid $section-border;
    margin: 0;
    padding: 5px 10px;

    &:hover {
      background: $highlight-yellow;
    }
  }
}
